*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.outer{
    display: flex;
    background: linear-gradient(to left,pink,wheat,white);
    align-items: center;
    justify-content: center;

}

.outer>.inner2{
 display: flex;
    
    align-items: center;
    justify-content: center;

}


@keyframes updowm{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(50px);
    }
}