*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,yellow,orange,orangered,red);
}

.outer>.inner{
    height: 500px;
    width: 500px;
        border: 3px solid rgb(9, 9, 9);
    border-radius: 50%;
    animation: rotateBox 2s linear infinite;
}

.inner>.box{
    flex-basis: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(11, 11, 11);
    border-radius: 50%;

}

@keyframes rotateBox {
    from{}
    to{
        transform: rotate(360deg);
    }
    
}