*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    height: 250px;
    width: 450px;
   /* padding: 20px 10px 5px 15px;*/
   padding-top: 20px;
   padding-right: 10px;
   padding-bottom: 5px;
   padding-left: 15px;

   border: 10px solid blue;

}

header>button{
    padding: 10px 20px;
    margin-top: 8px;

}

section{
    background-color:darkolivegreen;
    height: 200px;
    width: 350px;
   /* margin: 20px 10px 5px 15px;*/
   margin-top: 20px;
}

section>p{
    margin-top: 20px;
}

.card1{
    height: 100px;
    width: 200px;
    background-color: bisque;
    margin-bottom: 20px;
    border: 10px solid red;
}

.card2{
    height: 100px;
    width: 200px;
    margin-top: 20px;
    background-color: coral;
    /*border: 3px solid brown;*/
    border-width: 10px;
  border-style: double;
    border-color: brown;
    border-radius: 15px;
}

.card3{
    height: 400px;
    width: 560px;
    background-color: blanchedalmond;
    margin: auto;
    border-top:50px solid khaki;
    border-left: 7px dotted green;
    border-right: 7px dashed darkred;
    border-radius: 16px;
}