*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border: 2px solid black;
}

.outer>.inner{
    display: flex;
    height: 400px;
    width: 400px;

}
.row1{
    display: flex;
    flex-direction: column;
}
.row2{
    display: flex;
    flex-direction: column;
}
.inner>.row1>.w{
    height: 50px;
    width: 50px;
    background-color: white;
}
.inner>.row1>.b{
    height: 50px;
    width: 50px;
    background-color: black;
}
.inner>.row2>.w{
    height: 50px;
    width: 50px;
    background-color: white;
}
.inner>.row2>.b{
    height: 50px;
    width: 50px;
    background-color: black;
}