*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 700px;
    border: 3px solid black;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container>.box{
    border: 2px solid white;
    height: 80px;
    width: 90px;
    display: flex;
    align-items:center ;
    justify-content:space-between;
    border-radius: 50%;
    
}
.container>.box:nth-child(1){
    background-color: aquamarine;
}
.container>.box:nth-child(2){
    background-color: rgb(108, 125, 164);
}
.container>.box:nth-child(3){
    background-color: cadetblue;
}
    .container>.box:nth-child(4){
        background-color: cornflowerblue;
    }
.container>.box:nth-child(5){
    background-color: rgb(116, 222, 116);
}