*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to right,rgb(185, 204, 221),white);
display: flex;
    align-items: center;justify-content: center;
 
    
}
.inner>#i{
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px darkgray;
}
.inner>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    position: absolute;
    top: -75px;
    cursor: pointer;
}

.outer>.inner{
    height: 300px;
    width: 450px;
    border-radius: 23px;
    box-shadow: 8px 8px 8px .0px black;
    padding: 10px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
       position: relative;
}

.inner>button{
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    }