*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
}

.outer>.left{
    flex-basis: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer>.right{
    flex-basis: 50%;
    background: linear-gradient(to right, darkblue,lightblue);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    outline: none;
}

.left>img{
    height: 70%;
}

.right>.inner>form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: larger;
    border-radius: 20px;
    padding-bottom: 20px;
   
    
}

.inner>form>input{
    padding: 10px;
    width: 100%;
    border-radius: 13px;
    outline: none;
    
    
}

form>button{
    padding: 15px;
    background-color: rgb(74, 181, 74);
    color: aliceblue;
    border-radius: 12px;
}
h1{
    color: aliceblue;
    padding-bottom: 23px;
    letter-spacing: 1.2px;
}

.inner>form>input:focus{
    color:2px solid aqua;
}