*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: rgb(53, 18, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner{
    height: 420px;
    width: 300px;
    background-color: bisque;
    padding: 12px 15px;
    font-size: 19px;
    /*overflow: hidden;
    overflow: scroll;*/
    text-align: center;
    overflow: auto;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 5px 5px 5px 0.5px lightslategrey;
}

.inner>p{
    padding-top: 10px;
    text-align: justify;

}

::-webkit-scrollbar{
    /*to hide the scroll bar*/
    display: none;
}