*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: cornflowerblue;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

header{
    height: 300px;
    margin-top: 100px;
    background-color: chocolate;
}
header>h1{
    text-align: center;
    text-transform: capitalize;
    color:white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
}
header>button{
    padding: 20px 50px;
    border-radius: 13px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: darkred;
    letter-spacing: 2px;
    position: fixed;
    right: 0px;
}

main{
    height: 300px;
    background-color: darkgoldenrod;
    
}

main>button{
    padding: 20px 50px;
    border-radius: 13px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    letter-spacing: 2px;
    position: sticky;
    top: 100px;
}

section{
    height: 300px;
    background-color: darkcyan;
}

article{
    height: 300px;
    background-color: darkgrey;
}

aside{
    height: 300px;
    background-color: darkslateblue;
}

footer{
    height: 300px;   
    background-color: dodgerblue;
}

