header>h1{
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    cursor:zoom-in;
}

header>p{
    font-size: 22px;
    text-align: justify;
    text-indent: 200px;
}

header>button{
    display: block;
    margin: auto;
    cursor: pointer;
}

header>button:hover{
    background-color: burlywood;
    
}

header>p::first-letter{
    font-size: 50px;
    color:darkolivegreen;
}
header>p::first-line{
    font-style: italic;
    font-weight:bolder;
}

header>h1::after{
    content: " this is written using css (after)";
    font-style: italic;
    font-size: large;
}

header>h1::before{
    content: " this is written using css (before)";
    font-style: italic;
    font-size: large;
}

header>p::selection{
    background-color: darkred;
    color: antiquewhite;
}
/*to select more than one element use 2n to select even item and 2n+1 to select odd elements*/
section>ol>li:nth-child(2n){
    background-color:darkslategrey;
}

section>ol>li:nth-child(2n+1){
    background-color: burlywood;
}



header>h2>ol>li::marker{
    color: chartreuse;
}

section>ol>li:nth-child(2n):hover{
    background-color:brown;
}

section>ol>li:nth-child(2n+1):hover{
 background-color: cornflowerblue;
}
section>ol>li:nth-child(2n)::marker{
    color: aqua;
}