*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer>.inner{
    height: 400px;
    width: 350px;
    background-color: azure;
    border-radius: 30px;
    box-shadow: 3px 2px 4px 1px black;
    padding: 25px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    
}
.outer>.inner>form>label{
    display: block;
    padding-top: 10px;
    font-weight: bold;
}

.outer>.inner>form>input{
    border: 2px solid black;
    height: 30px   ;
    width: 100%;
    border-radius: 10px;
    padding: 5px ;
}

.outer>.inner>button{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color:darkslateblue;
    color: antiquewhite;
    font-weight: bolder;
    margin-top: 10px;
}

.inner>p{
    font-weight: bold;
}