header{
    background-color: rgb(229, 234, 101);
    height: 230px;
    width: 500px;

}

main{
    background-color:antiquewhite ;
    height: 500px;
    width: 450px;
    
}

header h1{
    text-align: center;
}

header p{
    font-style: italic;
}

/*direct child selector*/
main>p{
    background-color: burlywood;
}

main article p{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

section > ul > #list5{
    background-color: aquamarine;
    font-style: italic;
}

section>ul>li:nth-child(3){
    background-color: blueviolet;
}
/*adjecent sibling*/
section > ul > #list5+li{
    background-color: blue;
    font-style: italic;
}

section>ul> #eight~li{
    background-color: crimson;
}
/* pseudo class selector*/
header>button:hover{
    background-color: cornflowerblue;
    border-radius: 10px;
}
section>button{
    height: 50px;
    width: 50px;
}
section>button:active{
    height: 50px;
    width: 50px;
    background-color: cadetblue;
}

aside>h1{
    text-align: center;
    color: red;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: brown;
    height: 100px;
    text-shadow: -10px 10px 5px gray;
}

aside>p{
    text-align: left;
    text-indent: 100px;
}
aside > #le{
    letter-spacing: 5px;
}
aside>#wo{
    word-spacing: 5px;
}


