*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer>.inner{
    height: 100%;
    width: 80%;
    
}
.inner>section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.inner>section.left{
    
    flex-basis: 50%;
    background-color: blue;
    height: 100%;
    position: relative;
}

.left>button{
    color: white;
    padding: 10px 40px;
    background-color: darkred;
    border-radius: 13px;
}
.left>h1{
    font-weight: bolder;
    font-size: 20mm;
    position: absolute
    bottom: 50px;
}
.left>p{
    font-size: 6mm;
}

.inner>section>.right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    flex-basis: 50%;
}
nav>h2{
    font-weight: bolder;
}
nav>ul{
    display: flex;
    gap: 20px;
    font-size: larger;
    font-weight: bolder;
    
}
section{
    display: flex;
}
nav>button{
    color: white;
    background-color: darkred;
    border-radius: 12px;
    
}

.inner>nav{
    height:15%;
    
    display: flex;
    justify-content: space-around;

    padding: 20px;

}

.right>.cc{
    height: 500px;
    width: 500px;
    background-color: rgb(91, 15, 15);
    border-radius: 50%;
    
}

.cc>img{
    height: 400px;
    position: absolute;
    right: 30px;
}