*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer>.inner{
    height: 100%;
    width: 80%;
    
}
.inner>section.left{
    
    flex-basis: 50%;
    background-color: blue;
}

.inner>section>.right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    flex-basis: 50%;
}
nav>h2{
    font-weight: bolder;
}
nav>ul{
    display: flex;
    gap: 20px;
    font-size: larger;
    font-weight: bolder;
    
}
section{
    display: flex;
}
nav>button{
    color: white;
    background-color: darkred;
    border-radius: 12px;
    padding: 2px 20px;
}

.inner>nav{
    height:15%;
    
    display: flex;
    justify-content: space-around;

    padding: 20px;

}

.right>.cc{
    height: 300px;
    width: 300px;
    background-color: brown;
}